.contatos {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #c68c2c;
}

.contato {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contato p {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.whatsapp {
  margin-right: 5px;
}

.email {
  margin-bottom: 2px;
}

.contato p {
  color: white;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F3F3;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.navigation a{
  padding: 10px 50px 10px 50px;
}

.navigation a:hover {
  color: white;
  transition: 0.5s;
  background-color: #c68c2c;
  border-radius: 20px;
}

.menu img {
  width: 70px;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: none;
}

@media(max-width: 780px) {
  .logo {
    display: none;
  }

  .contato {
    width: 80%;
  }
}

@media(max-width: 700px) {
  .contatos {
    display: none;
  }
  
  .contato {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    left: -350px;
    transition: all 0.3s;
    position: absolute;
    z-index: 1;
    background-color:rgba(243, 243, 243, 0.87)
    ;
  }

  input[type="checkbox"]:checked ~ .menu {
    transform: translateX(350px);
    -moz-transform: translateX(350px);
    transition-delay: 0.5;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15%;
  }

  .navigation a {
    display: flex;
    text-align: center;
    padding: 20px 5px;
    display: block;
    width: 100%;
    transition: all 0.5s;
  }

  .navigation a:hover {
    background-color: #c68c2c;
    color: #fff;
  }

  label {
    padding: 15px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  label {
    display: initial;
  }
}